@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.form {
  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 19px;
      height: 19px;
      border-radius: 5px;
      border: 1.5px solid #9e9da8;
    }
  }

  &__checkbox:has(:checked) {
    &::before {
      border-color: var(--primary-bg);
      background-color: var(--primary-bg);
    }

    &::after {
      top: 7px;
      left: 4px;
      width: 12px;
      height: 5px;
      border-radius: 0;
      rotate: -45deg;
      border: 2px solid;
      border-color: transparent transparent var(--white) var(--white);

      @include media-breakpoint-down(lg) {
        top: 3px;
      }

      @include media-breakpoint-down(md) {
        top: 2px;
      }
    }

    &.noLabel::after {
      top: -3px;
    }
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox-label {
    margin-left: 29px;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;

    @include media-breakpoint-down(md) {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 142.857%;
    }
  }
}
