@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.breadcrumb {
  font-size: 1.7rem;
  font-weight: 500;

  @include media-breakpoint-down(md) {
    font-size: 1.6rem;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    color: var(--coffee-color);
  }
}
